*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Heebo", sans-serif;
}

html {
  min-height: 100vh;
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  box-sizing: border-box;
  background-color: #f7f8fc;
}

.MuiOutlinedInput-input {
  font-size: 2rem !important;
  padding: 1rem !important;
}

span {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  width: 100%;
}
